<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <h2>Book Row</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>UserId</th>
      <th>Id</th>
      <th>Title</th>
      <th>Completed</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let activity of activities">
      <td>{{activity.userid}}</td>
      <td>{{activity.id}}</td>
      <td>{{activity.title}}</td>
      <td><div [ngSwitch]="activity.completed">
        <span *ngSwitchCase="false">Not Done</span>
        <span *ngSwitchCase="true">Done</span>
      </div></td>
    </tr>
    </tbody>
  </table>
</div>
